@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  scrollbar-width: 5px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;

}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ddd;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 14px;
  background-color: #240F0B;
  /* border: 3px solid #006c6c; */
}